<html>
<head>
  <title>username.dvps home</title>
</head>
<body>
  <h1>WEB4PRO Developer Home</h1>
  <h2>username.dvps resources</h2>
  <ul>
    <li><a href="/phpmyadmin">http://username.dvps/phpmyadmin</a> - phpMyAdmin</li>
    <li><a href="/dumper">http://username.dvps/dumper</a> - Dumper</li>
    <li><a href="/phpinfo.php">http://username.dvps/phpinfo.php</a> - PHP Info</li>
  </ul>
  <h2>Development Server</h2>
  IP: 172.35.0.1
  <ul>
    <li><a href="http://username.dev">http://username.dev</a> - developer's vhost</li>
    <li><a href="http://mysql.dev">http://mysql.dev</a> - phpMyAdmin</li>
    <li><a href="http://mail4pro.dev">http://mail4pro.dev</a> -  (mail4pro:mail4pro) - local mail</li>
    <li>mysql.dev:3306, localhost:3306 - MySQL</li>
    <li>ssh, sftp, ftp, mysql on default ports</li>
  </ul>
<body>
</html>
